@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(243, 237, 237);
}

header {
  width: 100%;
  min-height: 70px;
  background-color: rgb(235, 235, 235);
  box-shadow: 0 0 8px 0 rgb(179, 172, 172);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
header .logo img {
  height: 150px;
  padding: 5px;
}
header .barra {
  float: right;
  text-transform: capitalize;
  letter-spacing: 1px;
  word-spacing: 4px;
}
header nav a {
  color: rgb(51, 51, 51);
  font-family: "Roboto", sans-serif;
}
header nav a:hover {
  color: rgb(224, 35, 35);
}

footer {
  background-color: rgb(44, 44, 54);
  min-height: 120px;
  margin-top: 100px;
}
footer p {
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(196, 188, 188);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
footer .redes {
  text-align: center;
  font-size: 30px;
  padding-top: 15px;
}
footer .redes a i {
  text-decoration: none;
  color: rgb(206, 200, 200);
}
footer .redes a i:hover {
  color: #ff0000;
}
footer .footer_contacto {
  padding-top: 15px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}
footer .footer_contacto p #text {
  justify-content: space-between;
}

#nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 20px;
  margin-top: 40px;
}
#nosotros .nosotros_intro {
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  box-shadow: 0 8px 15px 8px rgb(221, 221, 221);
}
#nosotros .nosotros_intro h2 {
  margin-top: 40px;
  padding: 10px;
  letter-spacing: 4px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}
#nosotros .nosotros_intro p {
  text-align: center;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
  line-height: 1.875;
  color: rgb(0, 0, 0);
  max-width: 750px;
  margin: 20px;
}
#nosotros .nosotros_intro img {
  max-width: 35%;
  padding-top: 20px;
  padding-bottom: 25px;
  margin-bottom: 40px;
}

#servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 20px;
  margin-top: 40px;
}
#servicios .servicios_lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 8px 15px 8px rgb(221, 221, 221);
  text-align: center;
}
#servicios .servicios_lista h2 {
  margin-top: 40px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  letter-spacing: 4px;
  line-height: 1.5;
}
#servicios .servicios_lista h3 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
  margin-top: 10px;
  margin-bottom: 15px;
  line-height: 1.5;
}
#servicios .servicios_lista ul {
  list-style-position: inside;
  text-align: start;
  float: inline-start;
  padding-inline-start: 30px;
}
#servicios .servicios_lista li {
  font-family: "Roboto", sans-serif;
  min-width: 960px;
  letter-spacing: 1.5px;
  line-height: 1.875;
  padding: 0 15px 0 15px;
  margin: 5px;
}
#servicios .servicios_lista #last_li {
  margin-bottom: 40px;
}
#servicios .servicios_lista img {
  width: 35%;
  padding-top: 20px;
  padding-bottom: 25px;
}

#contacto {
  display: flex;
  flex-direction: column;
  margin: 30px;
  margin-top: 50px;
  align-items: center;
}
#contacto .contacto_1 {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
  width: 70%;
  border: 2px solid rgba(0, 0, 0, 0.715);
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  line-height: 1.875;
}
#contacto .contacto_1 a {
  padding-right: 15px;
  padding-left: 15px;
  color: black;
  font-size: 25px;
}
#contacto .contacto_1 a :hover {
  color: #ff0000;
}
#contacto .contacto_2 {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
  width: 70%;
  border: 2px solid rgba(0, 0, 0, 0.715);
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  line-height: 1.875;
}
#contacto .contacto_2 a {
  padding-right: 15px;
  padding-left: 15px;
  color: black;
  font-size: 25px;
}
#contacto .contacto_2 a :hover {
  color: #ff0000;
}
#contacto .contacto_3 {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
  width: 70%;
  border: 2px solid rgba(0, 0, 0, 0.715);
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  line-height: 1.875;
}
#contacto .contacto_3 a {
  padding-right: 15px;
  padding-left: 15px;
  color: black;
  font-size: 25px;
}
#contacto .contacto_3 a :hover {
  color: #ff0000;
}

main#inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 20px;
  padding-top: 40px;
}
main#inicio .intro {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 8px 15px 8px rgb(221, 221, 221);
  max-width: 1000px;
}
main#inicio .intro p {
  padding-top: 40px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5px;
  line-height: 1.875;
  padding-left: 25px;
  text-align: center;
}
main#inicio .intro img {
  max-width: 650px;
  margin-top: 40px;
  margin-bottom: 40px;
}
main#inicio #inicio_contacto {
  display: flex;
  flex-direction: row;
  border: solid 2px rgba(0, 0, 0, 0.716);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 40px;
}
main#inicio #inicio_contacto .contacto_1 {
  text-align: center;
}
main#inicio #inicio_contacto .contacto_1 a {
  color: black;
}
main#inicio #inicio_contacto .contacto_1 a :hover {
  color: #ff0000;
}
main#inicio #inicio_contacto .contacto_2 {
  text-align: center;
}
main#inicio #inicio_contacto .contacto_2 a {
  color: black;
}
main#inicio #inicio_contacto .contacto_2 a :hover {
  color: #ff0000;
}
main#inicio #inicio_contacto .contacto_3 {
  text-align: center;
}
main#inicio #inicio_contacto .contacto_3 a {
  color: black;
}
main#inicio #inicio_contacto .contacto_3 a :hover {
  color: #ff0000;
}/*# sourceMappingURL=estilos.css.map */